@model DAL.Entities.Recette

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recette</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.recette)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.recette)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.origine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.origine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.typeRecette)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.typeRecette)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateModify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateModify)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
