@model DAL.Entities.Recette

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recette</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.recette)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.recette)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.origine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.origine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.typeRecette)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.typeRecette)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateModify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateModify)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
